---

language: python
python: "2.7"
sudo: required
dist: trusty

env:
  global:
    - PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/usr/local/sbin

# Install ansible
addons:
  apt:
    sources:
      - mysql-5.7-trusty          
    packages:
      - python-setuptools
      - mysql-server
      - mysql-client

services:
  - mysql
  - redis-server

before_install:
  - sudo mysql_upgrade
  - sudo service mysql restart
  - sudo mysql -e "SELECT VERSION();"

install:
  - sudo -H easy_install pip
  # http://urllib3.readthedocs.io/en/latest/user-guide.html#ssl-py2
  - sudo -H pip install -U pyOpenSSL cryptography idna certifi
  - sudo -H pip install -U urllib3
  # https://github.com/ansible/ansible/issues/23642#issuecomment-297469043
  - sudo -H pip install -U ndg-httpsclient

  # Install ansible
  - sudo -H pip install -U ansible

  # Check ansible version
  - ansible --version

before_script:
  - sudo mysql -e "CREATE DATABASE sonarqube;"
  - sudo mysql -e "use mysql; update user set authentication_string=PASSWORD('farm') where User='root'; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;"

script: ./test.sh

after_script:
  - ls -la /etc/init.d
  - sudo /etc/init.d/sonarqube status

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
